@import 'asset/scss/colors';
@import 'asset/scss/common';

.layout {
  display: grid;
  row-gap: 10px;
  padding: 20px;
  background-color: $color-white--500;
  border-radius: $border-radius--large;
  max-width: 600px;
}

.text {
  text-indent: 10px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}