@import 'asset/scss/colors';
@import 'asset/scss/common';
@import 'asset/scss/mixin';
@import 'asset/scss/typography';

.layout {
  display: grid;
  row-gap: 10px;
  padding: 20px;
  background-color: $color-white--500;
  border-radius: $border-radius--large;
  grid-template-columns: 30px 1fr;
  max-width: 600px;
  position: relative;
  transition: $transition--short;
  column-gap: 15px;
  box-shadow: $box-shadow-small;
  
  &:hover {
    .actions {
      opacity: 1;
    }
  }

  @media screen and (max-width: $media--mobile) {
    width: 100%;
    max-width: 100%;
  }
}

.text {
  text-align: justify;
  text-indent: 10px;
  
  @media screen and (max-width: $media--mobile) {
    font-size: $font-size--md !important;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}

.sectionRating {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.sectionQuote {
  display: grid;
  row-gap: 10px;
}

.loadingWrap {
  background-color: $color-white--500;
  opacity: 1;
}

.loading { 
  opacity: 1;
  background-color: $color-white--500;
  img {
    width: 24px;
    height: 24px;
  }
}