@import 'asset/scss/mixin';
@import 'asset/scss/colors';
@import 'asset/scss/common';
@import 'asset/scss/typography';

.button {
  @include reset-button;
  padding: 10px;
  box-sizing: border-box;
  border-radius: $border-radius--small;
  transition: $transition--short;
  color: $color-white--500;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  &:global(.button-color--primary) {
    border: 1px solid $color-primary--6;
    background: $color-primary--5;

    &:hover {
      background: $color-primary--6;
    }

    &:focus, 
    &:active {
      border: 1px solid $color-primary--8;
      background: $color-primary--7;
    }

    &:disabled {
      border: 1px solid $color-primary--4;
      background: $color-primary--3;
    } 
  }

  &:global(.button-color--warning) {
    border: 1px solid $color-warning--6;
    background: $color-warning--5;

    &:hover {
      background: $color-warning--6;
    }

    &:focus, 
    &:active {
      border: 1px solid $color-warning--8;
      background: $color-warning--7;
    }

    &:disabled {
      border: 1px solid $color-warning--4;
      background: $color-warning--3;
    } 
  }
}

.loader {
  width: 20px;
  height: inherit;
}