@import 'asset/scss/colors';

.tabs {
  display: flex;
  column-gap: 12px;
  border-bottom: 1px solid $color-secondary--5;
}

.tab {
  cursor: pointer;
  padding: 5px;

  &:hover {
    border-bottom: 1px solid $color-secondary--5;
  }

  &:global(.tab--active) {
    border-bottom: 1px solid $color-secondary--6;
  }
}

.content {
  margin-top: 10px;
  padding: 5px;
}
