@import 'asset/scss/colors';

.container {
  width: 1215px;;
}

.allQuotes {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 20px;
  column-gap: 15px;
}

.allQuotesWrap {
  display: grid;
  grid-template-columns: 485px 485px;
  column-gap: 15px;
  row-gap: 15px;
  align-items: baseline;

  :global(.custom) {
    min-width: auto;
  }
}

.description {
  color: $color-secondary--6;
}

.gridColumn {
  display: grid;
  row-gap: 15px;
}

.button {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.field {
  margin-top: 20px;
}