@import 'asset/scss/colors';
@import 'asset/scss/common';

.container {
  width: 1215px;;
}

.allQuotes {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 15px;
  column-gap: 15px;

  @media screen and (max-width: $media--mobile) {
    grid-template-columns: 100%;
  }
}

.wrap {
  display: grid;
  align-items: baseline;

  :global(.custom) {
    min-width: auto;
  }
}

.description {
  color: $color-secondary--6;
}

.gridColumn {
  display: grid;
  row-gap: 15px;
  align-content: baseline;
}

.button {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.field {
  box-shadow: $box-shadow-small;
  border-radius: $border-radius--small;
  border: none;
  margin-top: 15px;

  :global(input) {
    border: none;

    &:focus {
      border: none;
    }
  }
}

.section {
  display: grid;
  grid-gap: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: $media--mobile) {
    grid-template-columns: 100%;    
  }
}

.skeletonWrap {
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.title {
  margin-top: 15px;
}

.skeletonSection {
  @extend .section;
  grid-template-columns: 485px 485px;
}