@import 'asset/scss/colors';

.filters {
  display: grid;
  row-gap: 15px;
  align-content: baseline;
}

.allQuotes {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 20px;
  column-gap: 15px;
}

.allQuotesWrap {
  display: grid;
  grid-template-columns: 485px 485px;
  column-gap: 15px;
  row-gap: 15px;
  align-items: baseline;
}

.description {
  color: $color-secondary--6;
}

.gridColumn {
  display: grid;
  row-gap: 15px;
}