@import 'asset/scss/colors';
@import 'asset/scss/common';
@import 'asset/scss/mixin';

.layout {  
  &--full {
    width: 100%;
  }
}

.wrap {
  margin-top: 5px;
  position: relative;
}

.input {
  padding: 10px 36px 10px 10px;
  border: 1px solid $color-secondary--4;
  border-radius: $border-radius--small; 
  width: 100%;
}

.button {
  @include reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius--small;
  right: 0;
  top: 0;
  position: absolute;
  width: 40px;
  height: 100%;

  :global(.icon-svg) {
    fill: $color-secondary--6;
    width: 18px;
  }
}

.options {
  max-height: 400px;
  position: absolute;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: $border-radius--small;
  background-color: $color-white--500;
  border: 1px solid $color-secondary--4;
  z-index: 1;
}

.value {
  padding: 5px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: .7;
}

.spinWrap {
  top: 0;
  border-radius: $border-radius--small;
  position: absolute;
}

.spin {
  border-radius: $border-radius--small;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}