@import 'asset/scss/common';

.section {
  display: grid;
  grid-gap: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: $media--mobile) {
    grid-template-columns: 100%;    
  }
}

.grid {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
