@import 'asset/scss/mixin';
@import 'asset/scss/common';
@import 'asset/scss/colors';

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 70px;

  @media screen and (max-width: $media--mobile) {
    padding-left: 0;
    padding: 16px;
  }
}

.quote {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}

.button {
  @include reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  transition: $transition--short;
  
  &:hover {
    opacity: 1;
  }

  :global(.icon-svg) {
    width: 30px;
    height: 30px;
  }
}

.footer {
  display: grid;
  row-gap: 5px;
  position: absolute;
  bottom: 40px;
  justify-items: center;

  :global(.icon-svg) {
    width: 30px;
    height: 30px;
    fill: $color-secondary--7;
    transition: $transition--short;

    &:hover {
      fill: $color-primary--5;
    }
  }
}