@import 'asset/scss/common';
@import 'asset/scss/colors';
@import 'asset/scss/mixin';

.item {
  @include reset-button;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius--small;
  color: $text-color-primary--500;
  background-color: $color-white--500;
  cursor: pointer;

  &:hover {
    color: $color-white--500;
    background-color: $color-primary--3;
  }

  &:active {
    background-color: $color-primary--4;
    color: $color-white--500;
  }

  &:global(.active-item) {
    background-color: $color-primary--5;
    color: $color-white--500;
    pointer-events: none;
  }
}