$color-white--500: #fff;

$color-green-300: #3DEC83;

$text-color-primary--500: #212121;

$color-secondary--300: #EFF2F6;

$color-secondary--1: #fafafa;
$color-secondary--2: #f5f5f5;
$color-secondary--3: #f0f0f0;
$color-secondary--4: #d9d9d9;
$color-secondary--5: #bfbfbf;
$color-secondary--6:#8c8c8c;
$color-secondary--7: #595959;
$color-secondary--8: #434343;
$color-secondary--9: #262626;
$color-secondary--10: #1f1f1f;

$color-primary--1: #e6f7ff;
$color-primary--2: #bae7ff;
$color-primary--3: #91d5ff;
$color-primary--4: #69c0ff;
$color-primary--5: #40a9ff;
$color-primary--6: #1890ff;
$color-primary--7: #096dd9;
$color-primary--8: #0050b3;
$color-primary--9: #003a8c;
$color-primary--10: #002766;

$color-warning--1: #fff1f0;
$color-warning--2: #ffccc7;
$color-warning--3: #ffa39e;
$color-warning--4: #ff7875;
$color-warning--5: #ff4d4f;
$color-warning--6: #f5222d;
$color-warning--7: #cf1322;
$color-warning--8: #a8071a;
$color-warning--9: #820014;
$color-warning--10: #5c0011;

$color-success--1: #f6ffed;
$color-success--2: #d9f7be;
$color-success--3: #b7eb8f;
$color-success--4: #95de64;
$color-success--5: #73d13d;
$color-success--6: #52c41a;
$color-success--7: #389e0d;
$color-success--8: #237804;
$color-success--9: #135200;
$color-success--10: #092b00;