@font-face {
  font-family: 'kraM';
  src: url('asset/fonts/kraM.eot');
  src: url('asset/fonts/kraM.eot') format('embedded-opentype'),
       url('asset/fonts/kraM.woff2') format('woff2'),
       url('asset/fonts/kraM.woff') format('woff'),
       url('asset/fonts/kraM.ttf') format('truetype'),
       url('asset/fonts/kraM.svg#kraM') format('svg');
}
@font-face {
  font-family: 'PTSerifRegular';
  src: url('asset/fonts/PTSerifRegular.eot');
  src: url('asset/fonts/PTSerifRegular.eot') format('embedded-opentype'),
       url('asset/fonts/PTSerifRegular.woff2') format('woff2'),
       url('asset/fonts/PTSerifRegular.woff') format('woff'),
       url('asset/fonts/PTSerifRegular.ttf') format('truetype'),
       url('asset/fonts/PTSerifRegular.svg#PTSerifRegular') format('svg');
}
