@import 'asset/scss/colors';
@import 'asset/scss/common';

.filters {
  background-color: $color-white--500;
  border-radius: $border-radius--large;
  height: fit-content;
  padding: 20px;
  display: grid;
  row-gap: 5px;
  align-content: baseline;
}

.skeleton {
  display: grid;
  row-gap: 10px;

  .item {
    border-radius: $border-radius--small;
    background-color: $color-secondary--300;
    height: 20px;
    width: 100%;
  }
}