@import 'asset/scss/common';
@import 'asset/scss/colors';

.adminPanel {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrap {
  padding: 15px;
  border-radius: $border-radius--large;
  background-color: $color-white--500;
}