@import 'asset/scss/colors';
@import 'asset/scss/common';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  :global(.icon-svg) {
    width: 30px;
    height: 30px;
    fill: $color-secondary--7;
    transition: $transition--short;

    &:hover {
      fill: $color-primary--5;
    }
  }
}