@import 'asset/scss/colors';
@import 'asset/scss/common';

.layout {
  max-width: 600px;
  width: 100%;
  display: grid;
  padding: 20px;
  background-color: $color-white--500;
  border-radius: $border-radius--large;
  grid-template-columns: 30px 1fr;
  transition: $transition--short;
}

.text {
  display: grid;
  row-gap: 10px;  
}

.textItem {
  border-radius: $border-radius--small;
  width: 100%;
  height: 22px;
  background-color: $color-secondary--300;

  @media screen and (max-width: $media--mobile) {
    width: inherit;
    min-width: 100%;
  }
}

.dateItem {
  width: 75px;
  height: 17px;
  border-radius: $border-radius--small;
  background-color: $color-secondary--300;
}

.author {
  display: flex;
  justify-content: space-between;
}

.likesWrap {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
}

.likesItem {
  width: 20px;
  height: 20px;
  background-color: $color-secondary--300;
  border-radius: $border-radius--small;
}

.extraText {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}