@import 'asset/scss/colors';
@import 'asset/scss/common';

.text {
  display: grid;
  row-gap: 10px;  
}

.textItem {
  border-radius: $border-radius--small;
  min-width: 560px;
  height: 22px;
  background-color: $color-secondary--300;
}

.dateItem {
  width: 75px;
  height: 17px;
  border-radius: $border-radius--small;
  background-color: $color-secondary--300;
}

.author {
  display: flex;
  justify-content: flex-end;
}