@import 'asset/scss/common';

.wrap {
  display: grid;
  align-items: baseline;

  :global(.custom) {
    min-width: auto;
  }
}

.section {
  display: grid;
  grid-gap: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: $media--mobile) {
    grid-template-columns: 100%;    
  }
}
