@import 'asset/scss/colors';
@import 'asset/scss/common';

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 20px;
  background-color: $color-white--500;
  align-content: center;
  display: grid;
  width: 400px;
  row-gap: 15px;
  border-radius: $border-radius--large;
}

.title {
  width: 100%;
  text-align: center;
}