@import 'asset/scss/typography';
@import 'asset/scss/colors';
@import 'asset/scss/common';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-secondary;
  outline: none;
}

body {
  background-color: $color-secondary--300;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;

  @media screen and (max-width: $media--mobile) {
    width: 100%;
  }
}

.notification {
  z-index: 22;
  position: fixed;
  width: 340px;
  height: 400px;
  max-height: 300px;
  top: 0;
  right: 0;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-end;
}

.layout {
  display: flex;
}